@use "theme";
body {
    //background-color: mm-color("background");
    color: theme.$mm-color-body;
    font-family: theme.$mm-font-family;
}

.page {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

hr {
    border: none;
    border-top: 1px solid #c2c5cc;
    //transform: translateY(-1px);
}

footer {
    margin-top: auto;
}