@use "theme";
body {
    //background-color: mm-color("background");
    color: theme.$mm-color-body;
    font-family: theme.$mm-font-family;
    background-color: #f9f9f9;
}

.mm-page-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

hr {
    border: none;
    border-top: 1px solid #c2c5cc;
    //transform: translateY(-1px);
}

footer {
    margin-top: auto;
}